

.signin-page,
.first-signin-page {
	/* padding: 6%; */
	background-image: url('../../../Images/homepage-background.png');
	background-position: center;
	background-size: cover;
	height: 100vh;
}

.new-user-container {
	
}

.signin-container {
	/* margin: 0 auto; */
	max-width: 1200px;
	background-color: white;
	padding: 30px;
	border: 2px solid black;
	border-radius: 15px;
	position: fixed;
	top: 35%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.signin-container img {
	max-width: 320px;
	display: block;
}
