.user-post-container {
    max-width: 600px;
    margin: auto;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}


.error-message {
	color: red;
	margin: 5px;
}

/* User Info Section */
.user-info-container {
max-width: 600px;
margin: auto;
}

button {
	text-align: center;
}