.landing-page {
	top: 20%;
	margin: auto;
	padding: 25px;
	max-width: 1000px;
}



.tagline {
	margin: 100px 0 10px 0 ;
	font-size: 30px;

}
.description {
	font-size: 20px;
	margin: 20px auto;
} 

.contact {
	font-size: 20px;
	margin: 20px auto;

}