@media all and (min-width: 480px) {
  .first-signin-page {
    padding: 60px 0;
  }

  .first-signin-page form {
    margin: 0 auto;
    max-width: 320px;
  }
}

.login-page {
	padding: 60px 0;
	background-image: url('../../Images/homepage-background.png');
	background-position: center;
	background-size: cover;
	height: 100vh;
}

.login-container {
	/* margin: 0 auto; */
	max-width: 400px;
	background-color: white;
	padding: 30px;
	border: 2px solid black;
	border-radius: 15px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.login-container img {
	max-width: 320px;
	display: block;
}
